@import "abstracts/variables";
@import "abstracts/mixins";

/* BASE */
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utils";


.container{
    width: 100%;
    max-width: 100rem;
    padding: 0 1rem;
    margin: 0 auto;
}
