.suggestion-input{
    position: relative;

    

    input:focus + &__dropdown{
        display: block;
    }

    input:focus{
        border-bottom: 1px solid #aaa;
    }

    &__dropdown{
        position: absolute;
        background: #fff;
        width: 100%;
        z-index: 1;
        border: 1px solid #333;
        border-top: none;
        max-height: 16rem;
        overflow-y: scroll;
        display: none;
       
        &-item{
            padding: .3rem 0;
            padding-left: 1rem;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover{
                background: #eee;
            }
        }
    }
}

.suggestion-input2{
    position: relative;

    input{
        width: 100%;
        border: 1px solid #333;
        outline: none;
    }

    input:focus{
        border-bottom: 1px solid #666;
        
    }

    input:focus + &__default-body{
        display: block;
    }

    &__default-body{
        z-index: 1;
        display: none;
        position: absolute;
        background: #fff;
        width: 100%;
        border: 1px solid #333;
        border-top: none;
    }

    &__default-item{
        transition: all .3s;
        cursor: pointer;
        padding-left: 1rem;

        &:hover{
            background: #eee;
        }
    }
}