body{  
    /* MAIN FONT FOR WEBSITE */
    font-family: "Lato", sans-serif; 
    font-weight: 400;   
    line-height: 1.7;
    color: $default-text-color;
}

.error-msg{
    color: red;
    font-size: 1rem;
    margin: .1rem 0;
}